<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Primary Meta Tags -->
    <title>{% block title %}{% endblock %} - GTGuessr</title>
    <meta name="title" content="GTGuessr">
    <meta name="description" content="A GeoGuessr-inspired game where users can learn how to navigate the Georgia Tech campus through an interactive geography game.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://pawgge.rs">
    <meta property="og:title" content="GTGuessr">
    <meta property="og:description" content="A GeoGuessr-inspired game where users can learn how to navigate the Georgia Tech campus through an interactive geography game.">
    <meta property="og:image" content="https://pawgge.rs/static/meta/image.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://pawgge.rs">
    <meta property="twitter:title" content="GTGuessr">
    <meta property="twitter:description" content="A GeoGuessr-inspired game where users can learn how to navigate the Georgia Tech campus through an interactive geography game.">
    <meta property="twitter:image" content="https://pawgge.rs/static/meta/image.jpg">


    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block styles %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

</head>
<body>
    {% block body %}{% endblock %}

    {% block scripts %}{% endblock %}
    
    <div class="footer">
        <p>Made by <a href="https://twitter.com/SammyTheTanuki">@SammyTheTanuki</a>, <a href="https://twitter.com/Wynslow_">@Wynslow_</a>, and <a href="https://twitter.com/ZenithO_o">@ZenithO_o</a></p>
    </div>
</body>
</html>