{% extends 'base.html' %}

{% block title %}Game{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@drustack/leaflet.resetview/dist/L.Control.ResetView.min.css">
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='game.js') }}"></script>
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
  integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
  crossorigin=""></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@drustack/leaflet.resetview/dist/L.Control.ResetView.min.js"></script>
{% endblock %}

{% block body %}
  <div class="container">
    <div class="left-panel">
      <h1>GTGuessr</h1>
      <div class="round-label">Round</div>
      <div class="round">0</div>
      <div class="timer-label">Timer</div>
      <div class="timer" id="timer">00:00</div>
      <div class="score-label">Score</div>
      <div class="score">0</div>
      <a id="submit" href="#" class="button">Submit</a>
    </div>

    <div class="right-panel">
      <div id="panorama"></div>
      <div id="map"></div>
    </div>

    <div id="results">
      <div id="result-tab">
        <p id="round"></p>
        <p id="distance"></p>
        <p id="score"></p>
        <a id="next" href="#" class="button">Next Round</a>
      </div>
    </div>

    <div id="outcome">
      You win :)
    </div>
  </div>
{% endblock %}
