{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block body %}

<div class="container">
    <h1>GTGuessr</h1>
    <h3>Instructions</h3>
    <p class="body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Bibendum at varius
      vel pharetra vel. Mi tempus imperdiet nulla malesuada pellentesque elit.
      Justo laoreet sit amet cursus sit. Vitae ultricies leo integer
      malesuada. Aliquam malesuada bibendum arcu vitae elementum curabitur
      vitae nunc. Ut etiam sit amet nisl purus in mollis nunc. Sagittis id
      consectetur purus ut faucibus pulvinar elementum integer enim. Est
      ullamcorper eget nulla facilisi. Feugiat nisl pretium fusce id velit ut
      tortor pretium viverra. Cras semper auctor neque vitae tempus quam. Eget
      aliquet nibh praesent tristique magna sit. Cursus vitae congue mauris
      rhoncus. Quam lacus suspendisse faucibus interdum posuere lorem ipsum
      dolor. Maecenas pharetra convallis posuere morbi leo urna molestie. Eget
      magna fermentum iaculis eu non diam phasellus vestibulum lorem. Enim
      nunc faucibus a pellentesque sit.
    </p>
    <a href="{{ url_for('game') }}" class="button">Play</a>
</div>

{% endblock %}
