{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <h1>GTGuessr</h1>
    <h3>Instructions</h3>
    <p class="body">
      How well do YOU know Georgia Tech?
      <br>
      Look at a series of images and panoramas taken from various spots on the Georgia Tech campus. Use the minimap to pin where you think the picture was taken. The faster you guess, and the closer you are, the more points you'll score!
    </p>
    <a href="{{ url_for('game') }}" class="button">Play</a>
</div>
{% endblock %}
